.tabContent {
  margin-top: 1rem;
  border: 1px solid var(--border);
  border-radius: 0.5rem;
  padding: 1.6rem;

  background: rgba(42, 42, 42, 0.65);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  box-shadow: var(--shadow);
  color: var(--foreground);

  transition: background 0.3s ease, box-shadow 0.3s ease;
}

.tabContent:hover {
  background: rgba(42, 42, 42, 0.8);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.tabContentHeader {
    margin-bottom: 1rem;
}