.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal {
    background: #fff;
    border-radius: 12px;
    padding: 2rem;
    width: 820px;
    max-width: 90%;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.3s ease;
}

.header {
    margin-bottom: 1rem;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.field {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

input,
select {
    padding: 0.6rem 0.8rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 0.8rem;
}

/* Agrupa os radios e adiciona espaçamento */
.radioGroup {
    display: flex;
    gap: 1.5rem;
    /* espaço entre os radios */
    margin-top: 0.5rem;
}

/* Espaçamento entre círculo e label */
.radioLabel {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    /* distância entre o círculo e o texto */
}

/* Input e botão lado a lado */
.cpfSearch {
    display: flex;
    gap: 0.5rem;
    /* espaço entre input e botão */
    margin-top: 0.5rem;
}

/* Informações do cliente com leve margem */
.clientInfo {
    margin-top: 0.5rem;
    background-color: #f9f9f9;
    padding: 0.5rem;
    border-radius: 5px;
    font-size: 0.9rem;
}

.buttonSearchClient {
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.2s;
    font-size: 14px;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 1rem;
}

.save {
    background: #4caf50;
    color: white;
    padding: 0.6rem 1.2rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.2s;
}

.save:hover {
    background: #45a049;
}

.cancel {
    background: #f44336;
    color: white;
    padding: 0.6rem 1.2rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.2s;
}

.cancel:hover {
    background: #d73833;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}