.button {
    padding: 4px 20px;
    background-color: #000;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #2a2a2aff;
}

.icon {
    margin-right: 8px;
    font-size: 16px;
    display: flex;
    justify-content: center;
}