.container {
  padding: 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cards {
  margin-top: 24px;
  display: flex;
  gap: 20px;
}

.division {
  margin-top: 4rem;
}