/* Estilos encapsulados para o componente */
:root{
  --foreground: #020817;
  --muted-foreground: #71717a;
  --background-tabs: rgba(212, 212, 212, 0.185);
  --card-foreground: #020817;
  --background: #ffffff;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  font-family: 'Inter', sans-serif;
  background-color: #f8fafc;
  color: var(--foreground);
  line-height: 1.5;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.container > * + * {
  margin-top: 1.5rem;
}

.title {
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 2.25rem;
}

.description {
  color: var(--muted-foreground);
  opacity: 0.9;
}

.navContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.navLinks {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  margin-bottom: 0.5rem;
  background-color: var(--background-tabs);
  padding: 0.2rem 0.3rem 0.2rem 0.2rem;
  border-radius: 0.5rem;
  width: 23.7rem;
}

.link {
  background-color: none;
  border: none;
  cursor: pointer;
  color: var(--card-foreground);
  position: relative;
  font-size: 0.9rem;
  font-weight: 700;
}

/*Quando o botão é clicado*/
.linkActive {
  font-weight: 600;
  padding: 0.2rem 0.4rem 0.2rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.269);
  background: var(--background);
  border-radius: 0.5rem;
}

.linkActive::after{
  content: '';
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  width: 100%;
  height: 2px;
}